
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

scriptloader {
  display: none;
}

/* Global */
.erased {
  text-decoration: line-through;
}

footer {
  margin-top: 25px;
  color: #999;
}

/* Museum */
.museum {
/*  height: 100vh;
  width: 100vw;*/
  overflow-x: hidden;
}

/* Exhibits */
.exhibit {
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #fcfcfc;
  padding: 14px;
  margin-bottom: 30px;
}
.exhibit.dark {
  background-color: #666;
  border: none;
}
.exhibit.dark>.info {
  color: #eee;
}
.exhibit.dark>.info a {
  color: #7DCEFF;
}
.exhibit>.info {
  color: #888;
}
.exhibit>.info>.title {
  font-weight: bold;
}
.exhibit>.frame {
  position: relative;
  margin-bottom: 10px;
}
.exhibit>.frame>.frame-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.exhibit>.frame>a>.image,
.exhibit>.frame>.image {
  width: 100%;
}

/* #scene/cover */
[data-scene=navbar] .exhibit.navbar-2 .navbar-inverse .navbar-toggle {
  float: left;
  border-color: #222;
  margin-left: 3px;
  margin-right: 0;
  outline: none;
}
[data-scene=navbar] .exhibit.navbar-2 .ex-navbar-toggle {
  position: relative;
  float: right;
  display: block;
  font-size: 18px;
  padding: 5px;
  margin-top: 8px;
  margin-right: 15px;
  color: #999999;
  cursor: pointer;
}

[data-scene=navbar] .exhibit.navbar-3 .navbar-inverse {
  background-color: #444;
  border-color: #2b2b2b;
  background-image: none;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-brand {
  color: #ffffff;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-brand:hover,
[data-scene=navbar] .exhibit.navbar-3 .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-text {
  color: #ffffff;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > li > a {
  color: #ffffff;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > li > a:hover,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > li > a:focus {
  color: #cb4d28;
  background-color: transparent;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .active > a,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .active > a:hover,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .active > a:focus {
  color: #cb4d28;
  background-color: #444444;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .disabled > a,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .disabled > a:hover,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-toggle {
  border-color: #333333;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-toggle:hover,
[data-scene=navbar] .exhibit.navbar-3 .navbar-toggle:focus {
  background-color: #333333;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-collapse,
[data-scene=navbar] .exhibit.navbar-3 .navbar-form {
  border-color: #323232;
  border: none;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .open > a,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .open > a:hover,
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav > .open > a:focus {
  background-color: #444;
  color: #cb4d28;
}
@media (max-width: 767px) {
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #2b2b2b;
  }
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu .divider {
    background-color: #2b2b2b;
  }
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > li > a:hover,
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cb4d28;
    background-color: transparent;
  }
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .active > a,
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .active > a:hover,
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cb4d28;
    background-color: #444444;
  }
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .disabled > a,
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  [data-scene=navbar] .exhibit.navbar-3 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-link {
  color: #ffffff;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-link:hover {
  color: #cb4d28;
}
[data-scene=navbar] .exhibit.navbar-3 .btn-link {
  color: #ffffff;
}
[data-scene=navbar] .exhibit.navbar-3 .btn-link:hover,
[data-scene=navbar] .exhibit.navbar-3 .btn-link:focus {
  color: #cb4d28;
}
[data-scene=navbar] .exhibit.navbar-3 .btn-link[disabled]:hover,
[data-scene=navbar] .exhibit.navbar-3 fieldset[disabled] .btn-link:hover,
[data-scene=navbar] .exhibit.navbar-3 .btn-link[disabled]:focus,
[data-scene=navbar] .exhibit.navbar-3 fieldset[disabled] .btn-link:focus {
  color: #444444;
}
[data-scene=navbar] .exhibit.navbar-3 li {
  font-weight: bold;
}
[data-scene=navbar] .exhibit.navbar-3 .text-primary {
  color: #be4825;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-inverse {
  text-transform: uppercase;
}
[data-scene=navbar] .exhibit.navbar-3 .left-toggle,
[data-scene=navbar] .exhibit.navbar-3 .right-toggle {
  position: relative;
  padding: 12px 0;
  color: #fff;
  background: #444;
  width: 40px;
  background-image: none;
  border: none;
}
[data-scene=navbar] .exhibit.navbar-3 .left-toggle {
  float: left;
}
[data-scene=navbar] .exhibit.navbar-3 .right-toggle {
  float: right;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-nav>li>a {
  padding: 12px 10px;
}
[data-scene=navbar] .exhibit.navbar-3 .navbar-form {
  padding: 10px;
}

/* Hall */
.hall {
  min-height: 100vh;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
}

.hall {
  display: none;
}
@media (max-width: 768px) {
  .hall.camera-on {
    display: block;
  }
}
@media (min-width: 769px) {
  .hall.warning {
    display: block;
  }
}

.hall.warning {
  background-color: #eee;
  color: #444;
  font-size: 14px;
}
/*.hall .container {
  min-height: 100vh;
}*/
.hall .container.with-space {
  margin-top: 18px;
}
.hall[data-scene=intro],
.hall[data-scene=cover] {
  background:
    linear-gradient(27deg, #eaeaea 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #eaeaea 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #ddd 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #ddd 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #e4e4e4 10px, transparent 10px),
    linear-gradient(#e2e2e2 25%, #e5e5e5 25%, #e5e5e5 50%, transparent 50%, transparent 75%, #dadada 75%, #dadada);
  background-color: #e8e8e8;
  background-size: 20px 20px;
}
.hall[data-scene=cover] .content {
  max-width: 500px;
}
.hall[data-scene=cover] .btn.enter {
  width: 100%;
}

/* Loader */
body.ready>.loader {
  display: none;
}
body.loading>.museum {
  display: none;
}
body>.loader {
  display: block;
  height: 0;
  height: 100vh;
  width: 100vw;
  padding: 20px 0;
}

/* For old browsers */
body.old-browser>.loader,
body.old-browser>.museum {
  display: none;
}
body.old-browser>.browser-warn {
  display: block;
}
.browser-warn {
  display: none;
  color: #777;
  font-size: 14px;
}


/* Custom styles */
.custom-style-a {
  background-color: #35a;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  padding: 15px;
  color: #fff;
}

.custom-style-a .header {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  color: #35a;
  padding: 6px;
}

.custom-style-a .content {
  margin: 15px 0;
}

.custom-style-a .alert-danger {
  text-shadow:
    #e7bebe 1px 1px,
    #e7bebe 2px 2px,
    #e7bebe 3px 3px,
    #e7bebe 4px 4px,
    #e7bebe 5px 5px,
    #e7bebe 6px 6px,
    #e7bebe 7px 7px,
    #e7bebe 8px 8px,
    #e7bebe 9px 9px,
    #e7bebe 10px 10px,
    #e7bebe 11px 11px,
    #e7bebe 12px 12px,
    #e7bebe 13px 13px,
    #e7bebe 14px 14px,
    #e7bebe 15px 15px,
    #e7bebe 16px 16px,
    #e7bebe 17px 17px,
    #e7bebe 18px 18px,
    #e7bebe 19px 19px;
  overflow: hidden;
}

.custom-style-a .button {
  border: none;
  color: #fff;
  background-color: #1abc9c;
  padding: 10px 19px;
  font-size: 14px;
  line-height: 1.471;
  border-radius: 6px;
}

.custom-style-a .shiny-bootstrap-crap.shine input {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}